

    <div class="form-container">
        <h2 class="form-title">📱 Registro de Teléfonos</h2>

        <form id="telefonoForm" (ngSubmit)="guardarTelefono()" #telefonoForm="ngForm">
            <div class="form-group">
                <label for="numero" class="form-label">Número de Teléfono</label>
                <input [(ngModel)]="telefono.numero" type="tel" id="numero" name="numero" class="form-input"
                    placeholder="Ej: +54 11 1234-5678"
                    required>
            </div>

            <div class="form-group">
                <label for="marca" class="form-label">Marca del Teléfono</label>
                <input [(ngModel)]="telefono.marca" type="text" id="marca" name="marca" class="form-input"
                    placeholder="Ej: Samsung, Apple, Huawei..." required>
            </div>

            <div class="form-group">
                <label for="persona" class="form-label">Persona Asociada</label>
                <select [(ngModel)]="telefono.persona_id" id="persona" name="persona" class="form-select" required>
                    <option [ngValue]="null">-- Seleccione una persona --</option>
                    @for (persona of listaPersonas; track persona.id) {
                    <option [ngValue]="persona.id">{{persona.nombre}} {{persona.apellido}}</option>
                    }
                </select>

            </div>

            <div class="form-buttons">
                <button type="submit" class="btn btn-primary" [disabled]="telefonoForm.invalid">Guardar Teléfono</button>
                <button type="reset" class="btn btn-secondary">Limpiar</button>
            </div>
        </form>
        <button type="button" class="btn btn-secondary" routerLink="/menu">
            <i class="fas fa-arrow-left"></i>
            Volver al Menú
        </button>
    </div>

