
    <div class="form-container">
        <h2 class="form-title">👤 Registro de Contactos</h2>

        <form id="contactoForm" (ngSubmit)="guardarContacto()" #contactoForm="ngForm">
            <div class="form-group">
                <label for="nombre" class="form-label"  name="nombreContacto">Nombre del Contacto</label>
                <input type="text" [(ngModel)]="contacto.nombreContacto" id="nombre" name="nombre" class="form-input" placeholder="Ej: Juan Carlos Pérez"
                    required>
            </div>

            <div class="form-group">
                <label for="telefono" class="form-label">Teléfono a Asociar</label>
                <select id="telefono" name="telefono" class="form-select" required [(ngModel)]="numeroEncontrado">
                    @for (telefonos of listaTelefonos;track telefonos.id){
                        <option [ngValue]="telefonos.id">{{telefonos.numero}}</option>
                    }
                    
                   
                </select>
            </div>

            <div class="form-buttons">
                <button type="submit" class="btn btn-primary">Guardar Contacto</button>
                <button type="reset" class="btn btn-secondary">Limpiar</button>
            </div>
        </form>
        <button type="button" class="btn btn-secondary" routerLink="/menu">
            <i class="fas fa-arrow-left"></i>
            Volver al Menú
        </button>
    </div>
